<div class="d-flex justify-content-start h-100">
  <div class="main-table-frame">
    <table class="table table-striped table-hover" style="text-align:center;">
      <thead>
        <tr class="table-warning">
          <th scope="col">Tank</th>
          <th scope="col">Canist</th>
          <th scope="col">剩餘數量/總共數量</th>
          <th scope="col">選擇</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let storageTankStatus of storageTankStatuses">
          <th>{{storageTankStatus.tankInfo.tankName}}</th>
          <td>{{storageTankStatus.canistName}}</td>
          <td>{{storageTankStatus.emptyAmount}}/{{storageTankStatus.totalAmount}}</td>
          <td><button type="button" class="btn btn-primary btn-sm"
              (click)="showStorageUnitStatus(storageTankStatus.tankId, storageTankStatus.tankInfo.tankName, storageTankStatus.canistId, storageTankStatus.canistName, storageTankStatus.tankInfo.tankTypeId)">選擇</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ms-3">
    <div *ngFor="let storageUnitStatus of storageUnitStatuses">
      <div (click)="selectStripIdOrBoxId(storageUnitStatus.stripIdOrBoxId)" style="cursor: pointer;">{{tankType}}:
        {{storageUnitStatus.stripIdOrBoxId}}
        <span class="ms-2">(剩餘: {{storageUnitStatus.stripBoxEmptyUnit}})</span>
      </div>
      <ng-container *ngIf="selectedStripIdOrBoxId === storageUnitStatus.stripIdOrBoxId">
        <div class="d-flex justify-content-between" *ngFor="let unitArray of storageUnitStatus.unitInfoArray">
          <div *ngFor="let unit of unitArray">
            <input type="checkbox" class="btn-check" [id]="unit.storageUnitId" autocomplete="off" [disabled]="unit.isOccupied" (change)="add($event, unit.storageUnitId, unit.unitName)" [checked]="confirmChecked(unit.storageUnitId)">
            <label class="btn btn-outline-primary" style="width:40px;height:40px;text-align: center;" [for]="unit.storageUnitId">{{unit.unitName}}</label>
          </div>
        </div>
        <hr>
      </ng-container>
    </div>
  </div>
</div>