<div class="d-flex justify-content-between">
  <app-title [icon]="faMicroscope" [title]="'精蟲處理'"></app-title>
  <app-subfunction-header [subfunctions]="subfunctions"></app-subfunction-header>
</div>
<hr>
<div *ngIf="allSpermScore.length" style="width:100%;overflow:auto;">
  <table class="table table-hover mt-3">
    <thead>
      <tr class="table-warning">
        <th scope="col">精蟲來源病歷號</th>
        <th scope="col">精蟲來源姓名</th>
        <th scope="col">精蟲來源</th>
        <th scope="col">精蟲取經方式</th>
        <th scope="col">療程編號</th>
        <th scope="col">時間點</th>
        <th scope="col">禁慾天數</th>
        <th scope="col">體積</th>
        <th scope="col">濃度 (X10^6)</th>
        <th scope="col">活動力A</th>
        <th scope="col">活動力B</th>
        <th scope="col">活動力C</th>
        <th scope="col">活動力D</th>
        <th scope="col">型態</th>
        <th scope="col">處理者</th>
        <th scope="col">紀錄時間</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allSpermScore">
        <td>{{item.baseSpermInfo.spermOwner.customerSqlId}}</td>
        <td>{{item.baseSpermInfo.spermOwner.customerName}}</td>
        <td>{{item.baseSpermInfo.spermSituationName}}</td>
        <td>{{item.baseSpermInfo.spermRetrievalMethodName}}</td>
        <td>{{item.courseOfTreatmentSqlId}}</td>
        <td>{{item.spermScoreTimePoint}}</td>
        <td>{{item.abstinence}}</td>
        <td>{{item.volume}}</td>
        <td>{{item.concentration}}</td>
        <td>{{item.activityA}}</td>
        <td>{{item.activityB}}</td>
        <td>{{item.activityC}}</td>
        <td>{{item.activityD}}</td>
        <td>{{item.morphology}}</td>
        <td>{{item.embryologistName}}</td>
        <td>{{item.recordTime | date:"yyyy-MM-dd hh:mm:ss"}}</td>
      </tr>
    </tbody>
  </table>
</div>