<div class="fw-bold mb-3">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>選擇培養液:</div>
        <div>
            <button type="button" class="btn btn-outline-secondary btn-sm"
                (click)="onAddMedium()">新增培養液</button>
            <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                (click)="onOpenMedium()">開封培養液</button>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center"
        *ngFor="let grade of [].constructor(count); let i = index">
        <div style="width:90%">
            <app-medium-input [mediums]="mediums" [index]="i" [isMultiple]="true"></app-medium-input>
        </div>
        <button type="button" class="border border-0 bg-transparent"
            (click)="onDeleteMediumFormControl(i)"><fa-icon [icon]="faXmark"
                class="text-danger"></fa-icon></button>
    </div>
</div>
<app-open-medium *ngIf="isOpenMediumForm"></app-open-medium>