<app-base-treatment-info></app-base-treatment-info>
<Form [formGroup]="ovumPickupForm" (ngSubmit)="onSubmit(ovumPickupForm)" class="mb-5">
    <div class="row">
        <div class="col-4">
            <div class="fs-5 fw-bold text-warning-emphasis"><fa-icon [icon]="faClock" class="me-3"></fa-icon>操作時間</div>
            <hr>
            <div formGroupName="operationTime">
                <div class="mb-3">
                    <label for="triggerTime" class="form-label">破卵針時間</label>
                    <input type="datetime-local" class="form-control" id="triggerTime" formControlName="triggerTime">
                </div>
                <div class="mb-3">
                    <label for="startTime" class="form-label">下針時間</label>
                    <input type="datetime-local" class="form-control" id="startTime" formControlName="startTime">
                </div>
                <div class="mb-3">
                    <label for="endTime" class="form-label">結束時間</label>
                    <input type="datetime-local" class="form-control" id="endTime" formControlName="endTime">
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="fs-5 fw-bold text-warning-emphasis"><fa-icon [icon]="faList" class="me-3"></fa-icon>取卵結果(COC分級)
            </div>
            <hr>
            <div formGroupName="ovumPickupNumber">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="coc_Grade5" class="form-label">+++++</label>
                            <input type="number" class="form-control" id="coc_Grade5" formControlName="coc_Grade5">
                        </div>
                        <div class="mb-3">
                            <label for="coc_Grade4" class="form-label">++++</label>
                            <input type="number" class="form-control" id="coc_Grade4" formControlName="coc_Grade4">
                        </div>
                        <div class="mb-3">
                            <label for="coc_Grade3" class="form-label">+++</label>
                            <input type="number" class="form-control" id="coc_Grade3" formControlName="coc_Grade3">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="coc_Grade2" class="form-label">++</label>
                            <input type="number" class="form-control" id="coc_Grade2" formControlName="coc_Grade2">
                        </div>
                        <div class="mb-3">
                            <label for="coc_Grade1" class="form-label">+</label>
                            <input type="number" class="form-control" id="coc_Grade1" formControlName="coc_Grade1">
                        </div>
                        <div class="mb-3">
                            <label for="totalOvumNumber" class="form-label">總取卵數</label>
                            <input type="number" class="form-control" id="totalOvumNumber"
                                formControlName="totalOvumNumber" [disabled]="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-4">
            <app-multiple-medium-input [mediums]="mediums"></app-multiple-medium-input>
        </div>
        <div class="col-4">
            <div class="fs-5 fw-bold text-warning-emphasis"><fa-icon [icon]="faPerson" class="me-3"></fa-icon>找卵胚胎師
            </div>
            <hr>
            <div class="row align-items-center">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">胚胎師</span>
                    <select class="form-select" formControlName="embryologist">
                        <option *ngFor="let embryologist of embryologists" [value]="embryologist.employeeId">
                            {{embryologist.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary w-100"
                [disabled]="!ovumPickupForm.valid || isAlreadyAdded">存檔</button>
        </div>
    </div>
</Form>
<app-open-medium *ngIf="isOpenMediumForm"></app-open-medium>