<div class="d-flex justify-content-center">
    <div class="w-50">
        <app-form-title [formTitle]="'新增儲位'" [icon]="faBox"></app-form-title>
        <hr>
        <form [formGroup]="addNewTankForm" (ngSubmit)="onSubmit(addNewTankForm)">
            <div class="input-group mb-3">
                <span class="input-group-text">液態氮桶名稱</span>
                <input type="text" class="form-control" formControlName="tankName">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">液態氮桶類型</span>
                <select class="form-select" formControlName="tankTypeId">
                    <option *ngFor="let tankType of storageTankType" [value]="tankType.storageTankTypeId">
                        {{tankType.name}}
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">一個液態氮桶有個Canist</span>
                <input type="number" class="form-control" formControlName="canistAmount">
                <span class="input-group-text">個</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">一個Canist有幾個Strip或Box</span>
                <input type="number" class="form-control" formControlName="stripBoxAmount">
                <span class="input-group-text">個</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">每個Strip或Box有幾個儲存單位</span>
                <input type="number" class="form-control" formControlName="unitAmount">
                <span class="input-group-text">個</span>
            </div>
            <div class="text-end">
                <button class="btn btn-primary btn-sm">確認送出</button>
            </div>
        </form>
    </div>
</div>