<ng-container *ngIf="observationNote && observationNote.length === 0">
    <div class="text-center">無相關的觀察紀錄</div>
</ng-container>
<ng-container *ngIf="observationNote && observationNote.length > 0">
    <table class="table table-bordered" style="text-align:center;">
        <thead>
            <tr>
                <th scope="col">卵子編號</th>
                <th scope="col" *ngFor="let date of observationDate;let i = index">
                    {{date|date:"MM/dd"}} (D{{i}})</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ovum of observationNote">
                <th scope="row">{{ovum.ovumNumber}}</th>
                <td *ngFor="let notes of ovum.orderedObservationNote; let i = index" style="font-size:0.5em;height:1px;">
                    <ng-container *ngIf="notes.length === 0">
                        <div (click)="onOpenObservationNoteForm(ovum, i)" style="cursor:pointer;width:100%;height:100%;"></div>
                    </ng-container>
                    <ng-container *ngIf="notes.length>0">
                        <div *ngFor="let note of notes" (click)="onOpenExistingObservationNote(ovum, i, note.observationNoteId)" style="cursor:pointer">
                            <div>{{note.observationType}}</div>
                            <div>{{note.observationTime| date:"yyyy/MM/dd hh:mm:ss"}}</div>
                            <ng-container *ngIf="note.mainPhotoBase64">
                                <div class="m-auto d-flex justify-content-center align-items-center" style="width:100px;aspect-ratio:1/1;">
                                    <img [src]="'data:image/gif;base64,' + note.mainPhotoBase64" alt=""
                                        style="max-width:100%;max-height:100%;">
                                </div>
                            </ng-container>
                            <hr>
                        </div>
                        <div (click)="onOpenObservationNoteForm(ovum, i)" style="cursor:pointer;"><fa-icon [icon]="faPlus"></fa-icon></div>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
