<app-base-treatment-info></app-base-treatment-info>
<div class="d-flex justify-content-between">
    <app-title [icon]="faTable" [title]="'療程總覽'"></app-title>
    <app-subfunction-header [subfunctions]="subfunctions"></app-subfunction-header>
</div>
<hr>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div style="width:100%;overflow-x:auto;">
  <table class="table table-hover" style="text-align:center" *ngIf="treatmentSummarys.length">
    <thead>
      <tr>
        <th>全選<span class="ms-1"><input type="checkbox" [(ngModel)]="isSelectAll" (click)="onSelectAll($event)"></span>
        </th>
        <th>卵子編號</th>
        <th>用途/來源療程編號</th>
        <th>狀態</th>
        <th>卵胚天數</th>
        <th>受精狀態</th>
        <th>觀察記錄</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ovum of treatmentSummarys">
        <td><input type="checkbox" [(ngModel)]="ovum.isChecked" (change)="onSelectOvum(ovum)"></td>
        <td>No. {{ovum.ovumNumber}}</td>
        <td>{{ovum.ovumSource}}/{{ovum.ovumFromCourseOfTreatmentSqlId}}</td>
        <td>{{ovum.ovumDetailStatus}}</td>
        <td>Day: {{ovum.dateOfEmbryo}}</td>
        <td>
          <div style="font-size:0.8em">
            <div *ngIf="ovum.fertilizationTime">{{ovum.fertilizationTime | date:"yyyy-MM-dd"}}</div>
            <div *ngIf="ovum.fertilizationMethod">{{ovum.fertilizationMethod}}</div>
            <div *ngIf="ovum.observationNote && ovum.observationNote.fertilizationResultName">
              {{ovum.observationNote.fertilizationResultName}}</div>
          </div>
        </td>
        <td>
          <div *ngIf="ovum.observationNote" style="font-size:0.8em">
            <div>{{ovum.observationNote.observationTime | date:"yyyy-MM-dd hh:mm:ss"}}</div>
            <div>{{ovum.observationNote.observationTypeName}}</div>
            <div *ngIf="ovum.observationNote.ovumMaturationName">{{ovum.observationNote.ovumMaturationName}}</div>
            <div *ngIf="ovum.observationNote.ovumAbnormalityName">{{ovum.observationNote.ovumAbnormalityName}}</div>
            <div>{{ovum.observationNote.blastocystScore_Expansion_Name}}{{ovum.observationNote.blastocystScore_ICE_Name}}{{ovum.observationNote.blastocystScore_TE_Name}}</div>
            <div *ngIf="ovum.observationNote.embryoStatusName && ovum.observationNote.embryoStatusName.length">{{ovum.observationNote.embryoStatusName}}</div>
            <div *ngIf="ovum.observationNote.kidScore">KID Score: {{ovum.observationNote.kidScore}}</div>
            <ng-container
              *ngIf="ovum.observationNote.observationNotePhotos && ovum.observationNote.observationNotePhotos.length && ovum.observationNote.observationNotePhotos[0].photoName">
              <div class="m-auto d-flex justify-content-center align-items-center" style="width:50px;aspect-ratio:1/1;">
                <img [src]="ovum.observationNote.observationNotePhotos[0].photoName"
                  alt="" style="max-width:100%;max-height:100%;">
              </div>
            </ng-container>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-warning btn-sm" *ngIf="ovum.freezeStorageInfo"
            (click)="onEdit(ovum)">編輯</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-freeze-ovum *ngIf="isOpenSubFunction && isOpenSubFunction.functionId === 15"
  [subfunction]="isOpenSubFunction"></app-freeze-ovum>
<app-fertilisation *ngIf="isOpenSubFunction && isOpenSubFunction.functionId === 16"
  [subfunction]="isOpenSubFunction"></app-fertilisation>
<app-update-freeze-ovum *ngIf="isOpenUpdateFreezeOvum" [selectedOvums]="selectedOvums"></app-update-freeze-ovum>