<app-base-treatment-info></app-base-treatment-info>
<div class="d-flex justify-content-between">
  <div>
    <app-title [icon]="faTable" [title]="'療程總覽'"></app-title>
  </div>
  <div>
    <app-subfunction-header [subfunctions]="subfunctions"></app-subfunction-header>
  </div>
</div>
<hr>
<div style="width:100%;overflow-x:auto;">
  <table class="table table-hover" style="text-align:center">
    <thead>
      <tr>
        <th>全選<span class="ms-1"><input type="checkbox" [(ngModel)]="isSelectAll"
              (click)="onSelectAll($event)"></span></th>
        <th>卵子編號</th>
        <th>用途/來源療程編號</th>
        <th>狀態</th>
        <th>卵胚天數</th>
        <th>受精狀態</th>
        <th>觀察記錄</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ovum of treatmentSummarys">
        <td><input type="checkbox" [(ngModel)]="ovum.isChecked" (change)="onSelectOvum(ovum)"></td>
        <td>No. {{ovum.ovumNumber}}</td>
        <td>{{ovum.ovumSource}}/{{ovum.ovumFromCourseOfTreatmentSqlId}}</td>
        <td>{{ovum.ovumDetailStatus}}</td>
        <td>Day: {{ovum.dateOfEmbryo}}</td>
        <td>
          <span *ngIf="ovum.hasFertilization">已受精</span>
        </td>
        <td>
          <div>{{ovum.observationNote.observationTypeName}}</div>
          <ng-container *ngIf="ovum.observationNote.observationNotePhotos.length && ovum.observationNote.observationNotePhotos[0].imageBase64String">
            <div class="m-auto d-flex justify-content-center align-items-center" style="width:50px;aspect-ratio:1/1;">
                <img [src]="'data:image/gif;base64,' + ovum.observationNote.observationNotePhotos[0].imageBase64String" alt=""
                    style="max-width:100%;max-height:100%;">
            </div>
        </ng-container>
        </td>
        <td>
          <button type="button" class="btn btn-warning btn-sm" *ngIf="ovum.freezeStorageInfo" (click)="onEdit(ovum)">編輯</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-freeze-ovum *ngIf="isOpenSubFunction && isOpenSubFunction.functionId === 15"
  [subfunction]="isOpenSubFunction"></app-freeze-ovum>
<app-fertilisation *ngIf="isOpenSubFunction && isOpenSubFunction.functionId === 16" [subfunction]="isOpenSubFunction"></app-fertilisation>
<app-update-freeze-ovum *ngIf="isOpenUpdateFreezeOvum" [selectedOvums]="selectedOvums"></app-update-freeze-ovum >