<app-base-treatment-info></app-base-treatment-info>

<ng-container *ngIf="subfunctions">
  <div class="d-flex justify-content-between">
    <div>
      <ng-container *ngFor="let subfunction of subfunctions">
        <button class="btn btn-outline-dark btn-sm me-2" *ngIf="subfunction.name !== '療程中止'">{{subfunction.name}}</button>
      </ng-container>
    </div>
    <div>
      <ng-container *ngFor="let subfunction of subfunctions">
        <button class="btn btn-outline-danger btn-sm" *ngIf="subfunction.name === '療程中止'">{{subfunction.name}}</button>
      </ng-container>
    </div>
  </div>
</ng-container>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">全選<span class="ms-1"><input type="checkbox" [(ngModel)]="isSelectAll" (click)="onSelectAll($event)"></span></th>
      <th scope="col">卵子 No.</th>
      <th scope="col">用途/來源療程編號</th>
      <th scope="col">狀態</th>
      <th scope="col">卵胚天數</th>
      <th scope="col">受精狀態</th>
      <th scope="col">觀察記錄</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ovum of treatmentSummarys">
      <td><input type="checkbox" [(ngModel)]="ovum.isChecked" (change)="onSelectOvum()"></td>
      <td>{{ovum.ovumNumber}}</td>
      <td>{{ovum.ovumFromCourseOfTreatmentSqlId === ovum.courseOfTreatmentSqlId ? "自用" : "借用"}}/{{ovum.ovumFromCourseOfTreatmentSqlId}}</td>
      <td>{{ovum.ovumPickupDetailStatus}}</td>
      <td>{{ovum.dateOfEmbryo}}</td>
      <td>
        <span *ngIf="ovum.fertilizationStatus !== '未受精'">{{ovum.fertilizationStatus}}</span>
      </td>
      <td>{{ovum.observationNote}}</td>

    </tr>
  </tbody>
</table>