<div class="alertContainer">
    <div class="alertBox" style="max-height:90vh;overflow-y: auto;">
        <div class="fs-5 fw-bold text-warning-emphasis"><fa-icon [icon]="faList" class="me-3"></fa-icon>觀察記錄</div>
        <div *ngIf="baseTreatmentInfo && selectedOvumPickup">
            <span class="fw-bold me-2">療程編號:</span><span
                class="me-3">{{baseTreatmentInfo.courseOfTreatmentSqlId}}</span>
            <span class="fw-bold me-2">卵子編號:</span><span class="me-3">{{selectedOvumPickup.ovumNumber}}</span>
            <span class="fw-bold me-2">Day:</span><span class="me-3"
                *ngIf="existingObservationNote">{{existingObservationNote.day}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-center mb-3">
            <div *ngIf="existingObservationNote && existingObservationNote.observationNotePhotos.length > 0">
                <div class="mb-3 d-flex justify-content-center align-items-center" style="width:40vh;aspect-ratio:1/1;">
                    <img [src]="'data:image/gif;base64,'+mainPhotoBase64String" alt="" style="max-width:100%;max-height:100%;">
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width:40vh;overflow-x:auto;">
                    <div *ngFor="let photo of existingObservationNote.observationNotePhotos" class="me-2 d-flex justify-content-center align-items-center"
                        style="width:10vh;aspect-ratio:1/1;" (mouseenter)="onShowPhoto(photo.imageBase64String)">
                        <img [src]="'data:image/gif;base64,'+photo.imageBase64String" alt="" style="max-width:100%;max-height:100%;">
                    </div>
                </div>
            </div>
            <div *ngIf="existingObservationNote" class="ms-3" style="width:40vh">
                <div><span class="fw-bold me-2">觀察時間:</span><span>{{existingObservationNote.observationTime|date:"yyyy/MM/dd hh:mm:ss"}}</span></div>
                <div><span class="fw-bold me-2">處理者:</span><span>{{existingObservationNote.embryologist}}</span></div>
                <div class="d-flex justify-content-start align-items-start">
                    <div class="fw-bold me-2">操作:</div>
                    <div>
                        <div *ngFor="let operation of existingObservationNote.operationTypeName">{{operation}}</div>
                    </div>
                </div>
                <div *ngIf="hasSpindleOperation()"><span class="fw-bold me-2">Spindle Result:</span><span>{{existingObservationNote.spindleResult}}</span></div>
                <div><span class="fw-bold me-2">卵子成熟度:</span><span>{{existingObservationNote.ovumMaturationName}}</span></div>
                <div><span class="fw-bold me-2">觀察:</span><span>{{existingObservationNote.observationTypeName}}</span></div>
                <div class="d-flex justify-content-start align-items-start">
                    <div class="fw-bold me-2">卵子異常特徵:</div>
                    <div>
                        <div *ngFor="let abnormality of existingObservationNote.ovumAbnormalityName">{{abnormality}}</div>
                    </div>
                </div>
                <div><span class="fw-bold me-2">受精結果:</span><span>{{existingObservationNote.fertilisationResultName}}</span></div>
                <div><span class="fw-bold me-2">分裂期胚胎評分-C:</span><span>{{existingObservationNote.blastomereScore_C_Name}}</span></div>
                <div><span class="fw-bold me-2">分裂期胚胎評分-G:</span><span>{{existingObservationNote.blastomereScore_G_Name}}</span></div>
                <div><span class="fw-bold me-2">分裂期胚胎評分-F:</span><span>{{existingObservationNote.blastomereScore_F_Name}}</span></div>
                <div class="d-flex justify-content-start align-items-start">
                    <div class="fw-bold me-2">胚胎狀態:</div>
                    <div>
                        <div *ngFor="let embryoStatus of existingObservationNote.embryoStatusName">{{embryoStatus}}</div>
                    </div>
                </div>
                <div><span class="fw-bold me-2">囊胚期胚胎評分-Expansion:</span><span>{{existingObservationNote.blastocystScore_Expansion_Name}}</span></div>
                <div><span class="fw-bold me-2">囊胚期胚胎評分-ICE:</span><span>{{existingObservationNote.blastocystScore_ICE_Name}}</span></div>
                <div><span class="fw-bold me-2">囊胚期胚胎評分-TE:</span><span>{{existingObservationNote.blastocystScore_TE_Name}}</span></div>
                <div><span class="fw-bold me-2">KID Score:</span><span *ngIf="existingObservationNote.kidScore">{{existingObservationNote.kidScore}}</span></div>
                <div><span class="fw-bold me-2">備註:</span><span *ngIf="existingObservationNote.memo">{{existingObservationNote.memo}}</span></div>
                <div><span class="fw-bold me-2">PGTA編號:</span><span *ngIf="existingObservationNote.pgtaNumber">{{existingObservationNote.pgtaNumber}}</span></div>
                <div><span class="fw-bold me-2">PGTA結果:</span><span *ngIf="existingObservationNote.pgtaResult">{{existingObservationNote.pgtaResult}}</span></div>
                <div><span class="fw-bold me-2">PGTM結果:</span><span *ngIf="existingObservationNote.pgtmResult">{{existingObservationNote.pgtmResult}}</span></div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="onCancel()">關閉</button>
            <button type="button" class="btn btn-outline-danger btn-sm ms-3" (click)="onDelete()">刪除此筆觀察紀錄</button>
            <button type="button" class="btn btn-primary btn-sm ms-3" (click)="onUpdate()">更新此筆觀察紀錄</button>
        </div>
    </div>
</div>