<div class="alertContainer">
    <div class="alertBox" style="width: 60vw;">
        <app-form-title [formTitle]="'新增療程'"></app-form-title>
        <hr>
        <form [formGroup]="addCourseOfTreatmentForm" (ngSubmit)="onSubmit(addCourseOfTreatmentForm)">
            <div class="input-group mb-3">
                <span class="input-group-text">醫生</span>
                <select class="form-select" formControlName="doctorId">
                    <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.name}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">客戶</span>
                <select class="form-select" formControlName="customerId">
                    <option *ngFor="let customer of customers" [value]="customer.customerId">{{customer.customerName}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">卵子療程</span>
                <select class="form-select" formControlName="ovumSituationId">
                    <option>狀態</option>
                    <option *ngFor="let item of germCellSituations"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
                <select class="form-select" formControlName="ovumSourceId">
                    <option>用途</option>
                    <option *ngFor="let item of germCellSources"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
                <select class="form-select" formControlName="ovumOperationId">
                    <option>操作</option>
                    <option *ngFor="let item of germCellOperations"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">精蟲療程</span>
                <select class="form-select" formControlName="spermSituationId">
                    <option>狀態</option>
                    <option *ngFor="let item of germCellSituations"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
                <select class="form-select" formControlName="spermSourceId">
                    <option>用途</option>
                    <option *ngFor="let item of germCellSources"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
                <select class="form-select" formControlName="spermOperationId">
                    <option>操作</option>
                    <option *ngFor="let item of germCellOperations"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
                <select class="form-select" formControlName="SpermRetrievalMethodId">
                    <option>取經方式</option>
                    <option *ngFor="let item of spermRetrievalMethods"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">胚胎療程</span>
                <select class="form-select" formControlName="embryoSituationId">
                    <option>狀態</option>
                    <option *ngFor="let item of germCellSituations"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
                <select class="form-select" formControlName="embryoOperationId">
                    <option>操作</option>
                    <option *ngFor="let item of germCellOperations"
                        [value]="item.id">{{item.name}}</option>
                    <option></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">手術時間</span>
                <input type="datetime-local" class="form-control" formControlName="surgicalTime">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">備註</span>
                <input type="text" class="form-control" formControlName="memo">
            </div>
            <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="onCancel()">取消</button>
            <button class="btn btn-primary btn-sm ms-3" [disabled]="!addCourseOfTreatmentForm.valid">送出</button>
        </div>
        </form>
    </div>
</div>