<div class="alertContainer">
    <div class="alertBox" style="width:90vw; height:90vh">
        <div class="d-flex justify-content-around h-100">
            <div>
                <app-search-empty-storage-unit></app-search-empty-storage-unit>
            </div>
            <div style="height:100%; overflow:auto">
                <div class="fs-5 fw-bold text-warning-emphasis"><fa-icon [icon]="faSnowflake"
                        class="me-3"></fa-icon>冷凍精蟲</div>
                <hr>
                <div *ngIf="spermOwner" class="mb-3">
                    <span class="fw-bold me-1">精蟲來自病歷號:</span>
                    <span>{{spermOwner.customerSqlId}}</span>
                    <span class="fw-bold ms-3 me-1">姓名:</span>
                    <span>{{spermOwner.customerName}}</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">冷凍管數</span>
                    <input type="number" class="form-control" [(ngModel)]="vialCount">
                    <span class="input-group-text">管</span>
                </div>
                <form [formGroup]="freezeSpermForm" (ngSubmit)="onSubmit(freezeSpermForm)">
                    <app-show-selected-storage-unit></app-show-selected-storage-unit>
                    <div class="input-group mb-3">
                        <span class="input-group-text">冷凍前處理方式</span>
                        <select class="form-select" formControlName="spermFreezeOperationMethodId">
                            <option *ngFor="let method of spermFreezeOperateMethods"
                                [value]="method.id">{{method.name}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">冷凍液</span>
                        <select class="form-select" formControlName="freezeMedium"
                            (change)="onSelectFreezeMedium($event)">
                            <ng-container *ngIf="freezeMediums">
                                <ng-container *ngIf="freezeMediums.length > 0">
                                    <option *ngFor="let freezeMedium of freezeMediums"
                                        [value]="freezeMedium.mediumInUseId">{{freezeMedium.name}}</option>
                                </ng-container>
                            </ng-container>
                        </select>
                    </div>
                    <div class="input-group mb-3" *ngIf="isSelectOtherMedium">
                        <span class="input-group-text">其他冷凍液</span>
                        <input type="text" class="form-control" formControlName="otherFreezeMediumName">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">操作胚胎師</span>
                        <select class="form-select" formControlName="embryologist">
                            <ng-container *ngIf="embryologists.length">
                                <option *ngFor="let embryologist of embryologists" [value]="embryologist.employeeId">
                                    {{embryologist.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">操作時間</span>
                        <input type="datetime-local" class="form-control" formControlName="freezeTime">
                    </div>
                    <div class="fw-bold mb-3" formArrayName="mediumInUseArray">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div>選擇培養液:</div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    (click)="onAddMediumFormControl()">新增培養液</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onOpenMedium()">開封培養液</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start align-items-center"
                            *ngFor="let medium of getMediumInUseArray(); let i = index">
                            <app-medium-input [mediums]="mediums" [index]="i"></app-medium-input>
                            <button type="button" class="border border-0 bg-transparent"
                                (click)="onDeleteMediumFormControl(i)"><fa-icon [icon]="faXmark"
                                    class="text-danger"></fa-icon></button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="onCancel()">取消</button>
                        <button class="btn btn-primary btn-sm ms-3" [disabled]="!freezeSpermForm.valid">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-open-medium *ngIf="isOpenMediumForm"></app-open-medium>