<div class="alertContainer">
    <div class="alertBox" style="width:90vw; height:90vh">
        <div class="d-flex justify-content-around h-100">
            <div>
                <app-search-empty-storage-unit></app-search-empty-storage-unit>
            </div>
            <div style="height:100%; overflow:auto">
                <app-form-title [formTitle]="'冷凍精蟲'" [icon]="faSnowflake"></app-form-title>
                <hr>
                <div *ngIf="spermOwner" class="mb-3">
                    <span class="fw-bold me-1">精蟲來自病歷號:</span>
                    <span>{{spermOwner.customerSqlId}}</span>
                    <span class="fw-bold ms-3 me-1">姓名:</span>
                    <span>{{spermOwner.customerName}}</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">冷凍管數</span>
                    <input type="number" class="form-control" [(ngModel)]="vialCount">
                    <span class="input-group-text">管</span>
                </div>
                <form [formGroup]="freezeSpermForm" (ngSubmit)="onSubmit(freezeSpermForm)">
                    <app-show-selected-storage-unit></app-show-selected-storage-unit>
                    <div class="input-group mb-3">
                        <span class="input-group-text">冷凍前處理方式</span>
                        <select class="form-select" formControlName="spermFreezeOperationMethodId">
                            <option *ngFor="let method of spermFreezeOperateMethods"
                                [value]="method.id">{{method.name}}</option>
                        </select>
                    </div>
                    <app-medium-input [name]="'冷凍液'" [mediums]="freezeMediums" [isMultiple]="false"></app-medium-input>
                    <div class="input-group mb-3" *ngIf="isSelectOtherMedium">
                        <span class="input-group-text">其他冷凍液</span>
                        <input type="text" class="form-control" formControlName="otherFreezeMediumName">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">操作胚胎師</span>
                        <select class="form-select" formControlName="embryologist">
                            <ng-container *ngIf="embryologists.length">
                                <option *ngFor="let embryologist of embryologists" [value]="embryologist.employeeId">
                                    {{embryologist.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">操作時間</span>
                        <input type="datetime-local" class="form-control" formControlName="freezeTime">
                    </div>
                    <app-multiple-medium-input [mediums]="mediums"></app-multiple-medium-input>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="onCancel()">取消</button>
                        <button class="btn btn-primary btn-sm ms-3" [disabled]="!freezeSpermForm.valid">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-open-medium *ngIf="isOpenMediumForm"></app-open-medium>