<div class="alertContainer">
    <div class="alertBox">
        <app-form-title [icon]="faListCheck" [formTitle]="functionName"></app-form-title>
        <hr>
        <table class="table table-hover" *ngIf="selectedRecipientOvumFreezes.length">
            <thead>
                <tr class="table-warning">
                    <th>卵子來源病歷號</th>
                    <th>卵子來源姓名</th>
                    <th>療程編號</th>
                    <th>卵子編號</th>
                    <th>Tank</th>
                    <th>Canist</th>
                    <th>Strip編號</th>
                    <th>Top</th>
                    <th>Top顏色</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of selectedRecipientOvumFreezes">
                    <td>{{item.ovumSourceOwner.customerSqlId}}</td>
                    <td>{{item.ovumSourceOwner.customerName}}</td>
                    <td>{{item.courseOfTreatmentSqlId}}</td>
                    <td>{{item.ovumNumber}}</td>
                    <td>{{item.freezeStorageInfo.tankInfo.tankName}}</td>
                    <td>{{item.freezeStorageInfo.canistName}}</td>
                    <td>{{item.freezeStorageInfo.stripBoxId}}</td>
                    <td>{{item.freezeStorageInfo.unitInfo.unitName}}</td>
                    <td>{{item.freezeStorageInfo.topColorName}}</td>
                </tr>
            </tbody>
        </table>
        <form [formGroup]="thawOvumForm" (ngSubmit)="onSubmit(thawOvumForm)">
            <div class="input-group mb-3">
                <span class="input-group-text">解凍時間</span>
                <input type="datetime-local" class="form-control" formControlName="thawTime">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">解凍者</span>
                <select class="form-select" formControlName="embryologist">
                    <ng-container *ngIf="embryologists.length">
                        <option *ngFor="let embryologist of embryologists" [value]="embryologist.employeeId">
                            {{embryologist.name}}</option>
                    </ng-container>
                </select>
            </div>
            <app-medium-input [mediums]="thawMediums" [isMultiple]="false" [name]="'解凍液'"></app-medium-input>
            <div class="input-group mb-3">
                <span class="input-group-text">覆核者</span>
                <select class="form-select" formControlName="recheckEmbryologist">
                    <ng-container *ngIf="embryologists.length">
                        <option *ngFor="let embryologist of embryologists" [value]="embryologist.employeeId">
                            {{embryologist.name}}</option>
                    </ng-container>
                </select>
            </div>
            <app-multiple-medium-input [mediums]="mediums"></app-multiple-medium-input>
            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="onCancel()">取消</button>
                <button class="btn btn-primary btn-sm ms-3">確認解凍</button>
            </div>
        </form>
    </div>
</div>