<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<ng-container *ngIf="ovumFreezeSummary.length > 0">
    <div class="d-flex justify-content-between">
        <div>
            <app-title [title]="'卵子冷凍總覽'" [icon]="faList"></app-title>
        </div>
        <div>
            <app-subfunction-header></app-subfunction-header>
        </div>
    </div>
    <hr>
    <div style="width:100%;overflow-x: auto;">
        <table class="table table-hover" style="text-align: center;white-space:nowrap;">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="me-1">全選</div>
                            <input type="checkbox" (click)="onSelectAllOvum($event)" [(ngModel)]="isAllOvumChecked">
                        </div>
                    </th>
                    <th>療程編號</th>
                    <th>身分別</th>
                    <th>卵子來源療程編號</th>
                    <th>卵子編號NO</th>
                    <th>取卵日</th>
                    <th>解凍日</th>
                    <th>移入日</th>
                    <th>冷凍日</th>
                    <th>受精結果</th>
                    <th>冷凍天數</th>
                    <th>卵子等級</th>
                    <th>Top編號</th>
                    <th>Top顏色</th>
                    <th>Tank</th>
                    <th>Canist</th>
                    <th>Strip</th>
                    <th>入庫前觀察圖片</th>
                    <th>囊胚期胚胎評分</th>
                    <th>分裂期胚胎評分</th>
                    <th>KID Score</th>
                    <th>PGTA編號</th>
                    <th>PGTA結果</th>
                    <th>PGTM結果</th>
                    <th>冷凍液</th>
                    <th>入庫時注意事項</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ovumFreezeSummary">
                    <td>
                        <input type="checkbox"
                            (change)="onSelectOneOvum($event, item.freezeStorageInfo.unitInfo.storageUnitId)"
                            [(ngModel)]="item.isChecked">
                    </td>
                    <td>{{item.courseOfTreatmentSqlId}}</td>
                    <td>{{item.ovumSource}}</td>
                    <td>{{item.ovumFromCourseOfTreatmentSqlId}}</td>
                    <td>{{item.ovumNumber}}</td>
                    <td>{{item.ovumPickupTime | date:"yyyy-MM-dd"}}</td>
                    <td>{{item.thawTime}}</td>
                    <td>移入日</td>
                    <td>{{item.freezeTime | date:"yyyy-MM-dd"}}</td>
                    <td>{{item.freezeObservationNoteInfo.fertilisationResultName}}</td>
                    <td>Day: {{item.freezeObservationNoteInfo.day}}</td>
                    <td>卵子等級</td>
                    <td>{{item.freezeStorageInfo.unitInfo.unitName}}</td>
                    <td>{{item.freezeStorageInfo.topColorName}}</td>
                    <td>{{item.freezeStorageInfo.tankInfo.tankName}}</td>
                    <td>{{item.freezeStorageInfo.canistName}}</td>
                    <td>{{item.freezeStorageInfo.stripBoxId}}</td>
                    <td>
                        <div class="m-auto d-flex justify-content-center align-items-center"
                            style="width:50px;aspect-ratio:1/1;"
                            *ngIf="item.freezeObservationNoteInfo.observationNotePhotos.length>0">
                            <img [src]="'data:image/gif;base64,' + item.freezeObservationNoteInfo.observationNotePhotos[0].imageBase64String"
                                style="max-width:100%;max-height:100%;">
                        </div>
                    </td>
                    <td>{{item.freezeObservationNoteInfo.blastocystScore_Expansion_Name}}{{item.freezeObservationNoteInfo.blastocystScore_ICE_Name}}{{item.freezeObservationNoteInfo.blastocystScore_TE_Name}}
                    </td>
                    <td>
                        <ng-container
                            *ngIf="item.freezeObservationNoteInfo.blastomereScore_C_Name || item.freezeObservationNoteInfo.blastomereScore_G_Name || item.freezeObservationNoteInfo.blastomereScore_F_Name">
                            {{item.freezeObservationNoteInfo.blastomereScore_C_Name}}G{{item.freezeObservationNoteInfo.blastomereScore_G_Name}}F{{item.freezeObservationNoteInfo.blastomereScore_F_Name}}
                        </ng-container>
                    </td>
                    <td>{{item.freezeObservationNoteInfo.kidScore}}</td>
                    <td>{{item.freezeObservationNoteInfo.pgtaNumber}}</td>
                    <td>{{item.freezeObservationNoteInfo.pgtaResult}}</td>
                    <td>{{item.freezeObservationNoteInfo.pgtmResult}}</td>
                    <td>{{item.medium}}</td>
                    <td>{{item.freezeTime | date:"HH:mm:ss"}}</td>
                    <td>{{item.freezeObservationNoteInfo.memo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
