<div class="alertContainer">
    <div class="alertBox" style="width:90vw;height:90vh;">
        <div class="d-flex justify-content-around h-100">
            <div>
                <app-search-empty-storage-unit [subfunction]="subfunction"></app-search-empty-storage-unit>
            </div>
            <div style="height:100%;overflow:auto;">
                <div class="fs-5 fw-bold text-warning-emphasis" *ngIf="subfunction"><fa-icon [icon]="faSnowflake"
                        class="me-3"></fa-icon>{{subfunction.name}}</div>
                <hr>
                <ng-container *ngIf="selectedObservationNotes && selectedObservationNotes.length>0">
                    <table class="table" style="font-size:0.5em;text-align:center;">
                        <thead>
                            <tr>
                                <th scope="col">卵子No.</th>
                                <th scope="col">天數</th>
                                <th scope="col">受精結果</th>
                                <th scope="col">最後觀察狀態/等級</th>
                                <th scope="col">冷凍日</th>
                                <th scope="col">PGS編號</th>
                                <th scope="col">PGS結果</th>
                                <th scope="col">KID Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let observationNote of selectedObservationNotes">
                                <th scope="row">{{observationNote.ovumNumber}}</th>
                                <td>Day: {{observationNote.day}}</td>
                                <td>{{observationNote.fertilisationResultName}}</td>
                                <td>
                                    <ng-container
                                        *ngIf="observationNote.blastocystScore_Expansion_Name || observationNote.blastocystScore_ICE_Name || observationNote.blastocystScore_TE_Name">
                                        <div>囊胚期胚胎評分:
                                            {{observationNote.blastocystScore_Expansion_Name}}{{observationNote.blastocystScore_ICE_Name}}{{observationNote.blastocystScore_TE_Name}}
                                        </div>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="observationNote.blastomereScore_C_Name || observationNote.blastomereScore_G_Name || observationNote.blastomereScore_F_Name">
                                        <div>分裂期胚胎評分:
                                            {{observationNote.blastomereScore_C_Name}}G{{observationNote.blastomereScore_G_Name}}F{{observationNote.blastomereScore_F_Name}}
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="observationNote.ovumMaturationName">
                                        <div>卵子成熟度: {{observationNote.ovumMaturationName}}</div>
                                    </ng-container>
                                </td>
                                <td>{{todayDate}}</td>
                                <td>{{observationNote.pgtaNumber}}</td>
                                <td>{{observationNote.pgtaResult}}</td>
                                <td>{{observationNote.kidScore}}</td>
                            </tr>
                        </tbody>
                    </table>




                </ng-container>
                <form [formGroup]="freezeOvumForm" (ngSubmit)="onSubmit(freezeOvumForm)">
                    <div class="input-group mb-3">
                        <span class="input-group-text">操作時間</span>
                        <input type="datetime-local" class="form-control" formControlName="freezeTime">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">操作胚胎師</span>
                        <select class="form-select" formControlName="embryologist">
                            <ng-container *ngIf="embryologists">
                                <option *ngFor="let embryologist of embryologists" [value]="embryologist.employeeId">
                                    {{embryologist.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">卵子型態</span>
                        <span class="input-group-text">A</span>
                        <input type="number" class="form-control" style="width:7vw" formControlName="ovumMorphology_A">
                        <span class="input-group-text">B</span>
                        <input type="number" class="form-control" style="width:7vw" formControlName="ovumMorphology_B">
                        <span class="input-group-text">C</span>
                        <input type="number" class="form-control" style="width:7vw" formControlName="ovumMorphology_C">
                    </div>
                    <app-show-selected-storage-unit></app-show-selected-storage-unit>
                    <ng-container *ngIf="selectedLocations && selectedLocations.length > 0">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Top color</span>
                            <select class="form-select" formControlName="topColorId">
                                <ng-container *ngIf="topColors">
                                    <option *ngFor="let color of topColors" [value]="color.id">
                                        {{color.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </ng-container>
                    <div class="mb-3 d-flex justify-content-between align-items-center">
                        <div class="input-group w-75">
                            <span class="input-group-text">冷凍液</span>
                            <select class="form-select" formControlName="mediumInUseId"
                                (change)="onSelectMedium($event)">
                                <ng-container *ngIf="mediums.length > 0">
                                    <option *ngFor="let medium of mediums" [value]="medium.mediumInUseId">
                                        {{medium.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                (click)="onOpenMediumForm()">開封培養液</button>
                        </div>
                    </div>
                    <div class="input-group mb-3" *ngIf="isChooseOtherMedium">
                        <span class="input-group-text">其他培養液</span>
                        <input type="text" class="form-control" style="width:7vw" formControlName="otherMediumName">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">備註</span>
                        <textarea class="form-control" formControlName="memo"></textarea>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-primary btn-sm" (click)="onCancel()">取消</button>
                        <button class="btn btn-primary btn-sm ms-3" [disabled]="!freezeOvumForm.valid">入庫</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-open-medium *ngIf="isOpenMediumForm"></app-open-medium>