<div class="infoBox">
    <ng-container *ngIf="mediums.length>0">
        <div class="mediumLayout" *ngFor="let medium of mediums" (click)="onSelectMedium(medium)">
            <div><span class="fw-bold">培養液名稱:</span><span class="ms-2">{{medium.name}}</span></div>
            <div><span class="fw-bold">批號:</span><span class="ms-2">{{medium.lotNumber}}</span></div>
            <div><span class="fw-bold">到期日:</span><span class="ms-2">{{medium.expirationDate|date:"yyyy-MM-dd"}}</span>
            </div>
        </div>
    </ng-container>
</div>